/* header */
header {
    background-image: url(/resources/images/bg-masthead.jpg);
    width: 100%;
    height: 600px;
}

header .btn{
    background-color: rgb(3, 126, 156);
    border: none;
    width: 180px;
    padding: 20px;
}

/* box-content */
.box-content {
    height: 380px;
    width: 100%;
    background-color: gainsboro;
}


/* box-services */
.box-services {
    background-color: rgb(3, 126, 156);
    height: 500px;
    width: 100%;
}

.box-services .rounded-circle {
    border-color: white;
    background-color: white;
    padding: 30px;
}

/* box-dowload */
.box-dowload {
    width: 100%;
    height: 600px;
    background-image: url('/resources/images/bg-callout.jpg');
}

.box-dowload .btn{
    background-color: rgb(3, 126, 156);
    border: none;
    width: 180px;
    padding: 20px;
}

/* portfolio */
.portfolio {
    height: 1100px;
    padding-top: 90px;
}

.portfolio-item-1 {
    background-image: url(/resources/images/portfolio-1.jpg);
}

.portfolio-item-2 {
    background-image: url(/resources/images/portfolio-2.jpg);
}

.portfolio-item-3 {
    background-image: url(/resources/images/portfolio-3.jpg);
}

.portfolio-item-4 {
    background-image: url(/resources/images/portfolio-4.jpg);
}

.portfolio-item-1,
.portfolio-item-2,
.portfolio-item-3,
.portfolio-item-4 {
    height: 400px;
    padding-top: 230px;
    padding-left: 50px;
}

/* content-section */
.content-section {
    background-color: rgb(3, 126, 156);
    height: 280px;
}

/* footer */
.footer {
    height: 230px;
}

.footer .rounded-circle {
    background-color: rgb(3, 126, 156);
    padding: 20px;
}